.roles-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.roles-header h1 {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--text-main);
  margin: 0;
}

.roles-header p {
  color: var(--text-secondary);
  margin-top: 4px;
  font-size: 0.875rem;
}
